.hero-section {
  position: relative; /* Needed for the triangle */

  &::before {
    /* Create a triangle at the bottom with white color */
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 20vh solid white; /* Adjust the triangle height as needed */
    z-index: 1; /* Place it above the navy blue background */
  }

  background-color: #001f3f; /* Navy Blue Background Color */
  color: #fff; /* White Text Color */
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    font-size: 36px;
    font-weight: bold;
  }

  .hero-description {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #0074cc; /* Navy Blue Button Color */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #0056b3; /* Darker Blue on Hover */
    }
  }

  .image-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .img-fluid {
      max-width: 100%;
      height: auto;
      transition: transform 0.3s ease-in-out;
    }

    .image-hover {
      &:hover {
        transform: scale(1.1); /* Scale image on hover */
      }
    }
  }
}
