.place-autocomplete-map {
  max-width: 600px;
  margin: 0 auto;

  .input-group {
    margin-bottom: 20px;
  }
}




.list-group {
  z-index: 1;
  position: absolute;
  margin-left: 0;
}


.icon {
  background-image: url("../assets/images/Search.svg");
  background-position: 16px 20px;
  background-repeat: no-repeat;
  background-size: 16px;
}


.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{
  border: 0.8px solid;
  height: 52px;
  text-indent: 33px;
  border-radius: 0;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}

.heading {
  font-family: Century Gothic;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #273441;
}

.subheading {
  font-family: Century Gothic;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0em;
  margin-top: 2.5rem;
  text-align: left;
}


.calculate-button {

  button {
    border-width: medium;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    border-color: #273441;
  }
}